<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Video minute:</strong>
  <%= @video.video_minute %>
</p>

<p>
  <strong>Video link:</strong>
  <%= @video.video_link %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
